name: Build, Analyze and Deploy ASP.Net Core app to Azure

on:
    push:
        branches:
            - master
            - develop
    pull_request:
        types: [opened, synchronize, reopened]
    workflow_dispatch:

jobs:
    build-and-analyze:
        name: Build and analyze with SonarQube
        runs-on: windows-latest
        permissions:
            contents: read

        steps:
            - name: Set up JDK 17
              uses: actions/setup-java@v4
              with:
                  java-version: 17
                  distribution: 'zulu'

            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Cache SonarQube Cloud packages
              uses: actions/cache@v4
              with:
                  path: ~\sonar\cache
                  key: ${{ runner.os }}-sonar
                  restore-keys: ${{ runner.os }}-sonar

            - name: Cache SonarQube Cloud scanner
              id: cache-sonar-scanner
              uses: actions/cache@v4
              with:
                  path: ${{ runner.temp }}\scanner
                  key: ${{ runner.os }}-sonar-scanner
                  restore-keys: ${{ runner.os }}-sonar-scanner

            - name: Install SonarQube Cloud scanner
              if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
              shell: powershell
              run: |
                  New-Item -Path ${{ runner.temp }}\scanner -ItemType Directory
                  dotnet tool update dotnet-sonarscanner --tool-path ${{ runner.temp }}\scanner

            - name: Set up .NET Core
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: '9.x'

            - name: Build and analyze with SonarQube
              env:
                  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
              shell: powershell
              run: |
                  ${{ runner.temp }}\scanner\dotnet-sonarscanner begin /k:"Sanctum-Inc_cms-api" /o:"sanctum-inc" /d:sonar.token="${{ secrets.SONAR_TOKEN }}" /d:sonar.cs.opencover.reportsPaths="**/coverage.opencover.xml" /d:sonar.coverage.exclusions="**Tests*.cs,**/*Tests.cs"
                  dotnet build --configuration Release
                  dotnet test --configuration Release --no-build --collect:"XPlat Code Coverage" --results-directory ./coverage -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Format=opencover
                  ${{ runner.temp }}\scanner\dotnet-sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"

            -   name: Set Connection String Variable
                shell: powershell
                run: |
                    if ("${{ github.ref }}" -eq "refs/heads/master") {
                      echo "SELECTED_CONNECTION_STRING=${{ secrets.DB_CONNECTION_STRING_PROD }}" >> $env:GITHUB_ENV
                      echo "TARGET_FILE=appsettings.Production.json" >> $env:GITHUB_ENV
                    } else {
                      echo "SELECTED_CONNECTION_STRING=${{ secrets.DB_CONNECTION_STRING_DEV }}" >> $env:GITHUB_ENV
                      echo "TARGET_FILE=appsettings.Staging.json" >> $env:GITHUB_ENV
                    }

            - name: App Settings Variable Substitution
              uses: microsoft/variable-substitution@v1
              with:
                  # This will now target the correct file based on the branch
                  files: './src/Api/${{ env.TARGET_FILE }}'
              env:
                  # The key must match the JSON structure exactly
                  ConnectionStrings.DefaultConnection: ${{ env.SELECTED_CONNECTION_STRING }}

            - name: dotnet publish
              shell: powershell
              run: |
                  $publishPath = Join-Path $env:RUNNER_TEMP "myapp"
                  # We publish as Release, but the file was already modified above
                  dotnet publish ./src/Api/Api.csproj -c Release -o $publishPath

            - name: Upload artifact for deployment job
              uses: actions/upload-artifact@v4
              with:
                  name: .net-app
                  path: ${{ runner.temp }}/myapp

    deploy-dev:
        name: Deploy to Dev via FTP
        runs-on: ubuntu-latest
        needs: build-and-analyze
        env:
            ConnectionStrings__DefaultConnection: ${{ secrets.DB_CONNECTION_STRING_DEV }}
        if: github.ref == 'refs/heads/develop' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch')

        steps:
            - name: Download artifact from build job
              uses: actions/download-artifact@v4
              with:
                  name: .net-app
                  path: ./publish

            - name: FTP Deploy to dev server
              uses: SamKirkland/FTP-Deploy-Action@v4.3.5
              with:
                  server: lexcase.co.za
                  username: ${{ secrets.FTP_USERNAME }}
                  password: ${{ secrets.FTP_PASSWORD }}
                  local-dir: ./publish/
                  server-dir: /api-dev.lexcase.co.za/wwwroot/

    deploy-prod:
        name: Deploy to Prod via FTP
        runs-on: ubuntu-latest
        needs: build-and-analyze
        env:
            ConnectionStrings__DefaultConnection: ${{ secrets.DB_CONNECTION_STRING_PROD }}
        if: github.ref == 'refs/heads/master' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch')

        steps:
            - name: Download artifact from build job
              uses: actions/download-artifact@v4
              with:
                  name: .net-app
                  path: ./publish

            - name: FTP Deploy to prod server
              uses: SamKirkland/FTP-Deploy-Action@v4.3.5
              with:
                  server: lexcase.co.za
                  username: ${{ secrets.FTP_USERNAME }}
                  password: ${{ secrets.FTP_PASSWORD }}
                  local-dir: ./publish/
                  server-dir: /api.lexcase.co.za/wwwroot/
