name: Build, Analyze and Deploy ASP.Net Core app to Azure

on:
    push:
        branches:
            - master
            - develop
    pull_request:
        types: [opened, synchronize, reopened]
    workflow_dispatch:

jobs:
    build-and-analyze:
        name: Build and analyze with SonarQube
        runs-on: windows-latest
        permissions:
            contents: read

        steps:
            - name: Set up JDK 17
              uses: actions/setup-java@v4
              with:
                  java-version: 17
                  distribution: 'zulu'

            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Cache SonarQube Cloud packages
              uses: actions/cache@v4
              with:
                  path: ~\sonar\cache
                  key: ${{ runner.os }}-sonar
                  restore-keys: ${{ runner.os }}-sonar

            - name: Cache SonarQube Cloud scanner
              id: cache-sonar-scanner
              uses: actions/cache@v4
              with:
                  path: ${{ runner.temp }}\scanner
                  key: ${{ runner.os }}-sonar-scanner
                  restore-keys: ${{ runner.os }}-sonar-scanner

            - name: Install SonarQube Cloud scanner
              if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
              shell: powershell
              run: |
                  New-Item -Path ${{ runner.temp }}\scanner -ItemType Directory
                  dotnet tool update dotnet-sonarscanner --tool-path ${{ runner.temp }}\scanner

            - name: Set up .NET Core
              uses: actions/setup-dotnet@v4
              with:
                  dotnet-version: '9.x'

            - name: Build and analyze with SonarQube
              env:
                  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
              shell: powershell
              run: |
                  ${{ runner.temp }}\scanner\dotnet-sonarscanner begin /k:"Sanctum-Inc_cms-api" /o:"sanctum-inc" /d:sonar.token="${{ secrets.SONAR_TOKEN }}" /d:sonar.cs.opencover.reportsPaths="**/coverage.opencover.xml" /d:sonar.coverage.exclusions="**Tests*.cs,**/*Tests.cs"
                  dotnet build --configuration Release
                  dotnet test --configuration Release --no-build --collect:"XPlat Code Coverage" --results-directory ./coverage -- DataCollectionRunSettings.DataCollectors.DataCollector.Configuration.Format=opencover
                  ${{ runner.temp }}\scanner\dotnet-sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"

            - name: dotnet publish
              shell: powershell
              run: |
                  $publishPath = Join-Path $env:RUNNER_TEMP "myapp"
                  dotnet publish -c Release -o $publishPath

            - name: Upload artifact for deployment job
              uses: actions/upload-artifact@v4
              with:
                  name: .net-app
                  path: ${{ runner.temp }}/myapp

    deploy-dev:
        name: Deploy to Dev via FTP
        runs-on: ubuntu-latest
        needs: build-and-analyze
        env:
            ConnectionStrings__DefaultConnection: ${{ secrets.DB_CONNECTION_STRING_DEV }}
        if: github.ref == 'refs/heads/develop' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch')

        steps:
            - name: Download artifact from build job
              uses: actions/download-artifact@v4
              with:
                  name: .net-app
                  path: ./publish

            - name: FTP Deploy to dev server
              uses: SamKirkland/FTP-Deploy-Action@v4.3.5
              with:
                  server: lexcase.co.za
                  username: ${{ secrets.FTP_DEV_USERNAME }}
                  password: ${{ secrets.FTP_DEV_PASSWORD }}
                  local-dir: ./publish/
                  server-dir: /api-dev.lexcase.co.za/wwwroot/

    deploy-prod:
        name: Deploy to Prod via FTP
        runs-on: ubuntu-latest
        needs: build-and-analyze
        env:
            ConnectionStrings__DefaultConnection: ${{ secrets.DB_CONNECTION_STRING_PROD }}
        if: github.ref == 'refs/heads/master' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch')

        steps:
            - name: Download artifact from build job
              uses: actions/download-artifact@v4
              with:
                  name: .net-app
                  path: ./publish

            - name: FTP Deploy to prod server
              uses: SamKirkland/FTP-Deploy-Action@v4.3.5
              with:
                  server: lexcase.co.za
                  username: ${{ secrets.FTP_PROD_USERNAME }}
                  password: ${{ secrets.FTP_PROD_PASSWORD }}
                  local-dir: ./publish/
                  server-dir: /api.lexcase.co.za/wwwroot/
